$primary: #242423;

//$enable-shadows: false;
$input-focus-box-shadow: none;

@import '../node_modules/bootstrap/scss/bootstrap';

html, body, #root {
  height: 100%;
}

input, button, textarea {
  &:focus {
    outline: 0;
  }
}

.card-shadow {
  box-shadow: 0 .1rem .1rem rgb(0, 0, 0, .2), 0 .25rem .5rem rgb(0, 0, 0, .1);
}